body {
    font-family: 'JetBrains Mono', monospace;
    margin: 4px; 
    padding: 4px; 
    background: #f4f4f4; 
    color: #222;
}

p {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: left;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}

nav {
    text-align: justify;
    display: flex;
    gap: 50px; 
    font-size: medium;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
nav a:visited {
    color: rgb(15, 154, 119) ;
}

button {
    font-family: 'JetBrains Mono', monospace;
}

#enterButton {
    padding: 0.5rem .5rem !important;        /* smaller size */
    background-color: #925adae3 !important;    /* change as needed */
    color: white ;
    border: none;
    border-radius: 4px;           /* curved edges */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#enterButton:hover {
    background-color: #5d156b !important;    /* darker on hover */
  }

/* archive page, image grid formatting */

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    column-gap: 3rem;/* horizontal space between columns */
    row-gap: 3rem; /* vertical space between columns */
    max-width: 1100px;
    margin: 0 auto 1rem auto;
}

.image-grid img {
    max-width: 180px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);

}

.archive-intro {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem auto; 
    padding: 1.5rem;
    background-color: black;
    color: white;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); 
}

.archive-intro p {
    flex: 1; 
    color: white;
    max-width: 500px; /* Optional: limit width of text block */
    line-height: 1.6;
}

.archive-intro img {
    width: 200px; /* Adjust size of preview image as needed */
    height: auto;
    border-radius: 8px;
}


.art-preview img {
    max-width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#archive-preview {
    width: 250px;   
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tilePerlerticket {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


#tilePerlerticket {
    width: 500px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));

}

/*Styling for the color grid page, groups of colors and grid formatting
/* Container for all color triplets, parent container is .swatch-container */
.swatch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
    row-gap: 5rem; 
    justify-content: center; /* Center the grid */
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: 0 auto 1rem auto; /* center horizontally with margins */

}

/* Container for each group of three colors */
.group-container {
    display: flex;
    gap: 3px; /* Space between each color swatch inside group */
    justify-content: center;
}

/* Style for individual color swatches */
.swatch {
    width: 70px;
    height: 70px;
    border: 0px solid #000;
}

/* Styling for entrance train doors */
.train-door-container {
    position: relative;
    width: 400px;
    height: 375px;
    margin: 100px auto;
  }
  
  .door {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #857c7c;
    transition: transform 1.5s ease-in-out;
    z-index: 2;
    border-radius: 4px;
  }
  
  .left-door {
    left: 0;
  }
  
  .right-door {
    right: 0;
  }
  
  .slide-left {
    transform: translateX(-50%);
  }
  
  .slide-right {
    transform: translateX(50%);
  }
  
  #enterButton {
    display: block;
    margin: 40px auto 0 auto;
    padding: 1em 2em;
    font-size: 1rem;
    background: #fff;
    border: none;
    cursor: pointer;
    z-index: 3;
  }

  .ticket-form-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  #ticketForm {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 550px;
    max-width: 90%;
    align-items: center;

  }